# Core Libraries
wheel
pydantic
GitPython
pyngrok

git+https://github.com/runpod/runpod-python.git
git+https://github.com/openai/CLIP.git
git+https://github.com/mlfoundations/open_clip.git
git+https://github.com/TencentARC/GFPGAN.git

Pillow
scikit-image

bitsandbytes
tensorboard
tensorflow
wheel
tensorrt
# Machine Learning Libraries
accelerate
basicsr
einops
gradio
kornia
numpy
omegaconf
lightning-utilities
pytorch-lightning==1.8.*
realesrgan
safetensors
timm
torchdiffeq
torchsde
transformers

# CLI and Development Utilities
# Web and Networking Libraries
httpcore
httpx
inflection
jsonmerge
fastapi

# Miscellaneous Libraries
blendmodes
clean-fid
lark
piexif
psutil
resize-right
tomesd
rich
ultralytics

# Additional Libraries
diffusers[torch]
discord-webhook
aiofiles
altair
dadaptation
easygui
fairscale
ftfy
huggingface-hub
invisible-watermark
lion-pytorch
lycoris-lora
onnx
onnxruntime-gpu
protobuf
open-clip-torch==2.23.0
opencv-python
prodigyopt
tk
toml
voluptuous
wandb
gdown
numexpr
pyfunctional
insightface
python-socketio
lama-cleaner
send2trash
ZipUnicode